<p>Module Conversation</p>

<ul>

  <div *ngFor="let conversation of conversations; let index = index; let isFirst = first; let isOdd = odd;">

    <li *ngFor="let message of conversation.message">
      {{message.contenu}}
    </li>

  </div>

</ul>
